#admin{
    width: 80%;
    height: 100px;
    background-color: rgb(219, 209, 209);
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
ul{
    float: right;
    margin-right:20%;
}

li{
    margin-right: 40px;
    padding: 0px;
    list-style: none;
}

ul li{
    float: left; 
    width: 200px;
    background-color: rgb(97, 47, 47);
    opacity: 1;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin-right: 1px;
    padding: 5px;
    border-radius: 25px; 

}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: rgb(65, 71, 65);
    cursor: pointer;
    border-radius: 25px;

}
span{
    float: left;
    padding-left: 0px;
    color: sienna;
    padding-top :10px;

    
}