body {
    margin: 0;
    padding: 0;
    background: rgb(231, 226, 226);
    font-size: 16px;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: sienna;

}
#sign-box {
    position: relative;
    margin: 5% auto;
    width: 350px;
    height: 400px;
    background: rgb(228, 221, 221);
    border-radius: 25px;
    padding:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}

input{
    align-content: center;
}

input[type="text"],
input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right:50px;
    padding: 5px;
    width:220px;
    height:32px;
    border:none;
    border-bottom: 1px solid sienna;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-bottom: 2px solid sienna;
    color: #0f0f0f;
    transition: 0.2s ease;
    border-radius: 5px;
}

input[type="submit"]{
    margin-top:28px;
    width: 120px;
    height:32px;
    background: sienna;
    border:none;
    border-radius: 5px;
    color:  rgb(19, 17, 17);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

footer{
    text-align: center;
}